<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%- include('partials/nav.ejs') %>
<h2>deptname: <%= qs.dept %></h2>

<p>
    input this:::
    <a href="contact?person=nico&department=front&tel=13555555555">contact?person=nico&department=front&tel=13555555555</a>
</p>
<form id="contact-form">
    <label for="person"> who do you want to contact</label>
    <input type="text" name="person" value="<%= qs.person %>">
    <label for="department"> which department?</label>
    <input type="text" name="department" value="<%= qs.department %>">
    <label for="tel"> who do you want to contact</label>
    <input type="text" name="tel" value="<%= qs.tel %>">
    <input type="submit" value="submit">
</form>
<h2>
    your submit file
</h2>
<ul>
    <li>person: <%= qs.person %> </li>
    <li>department: <%= qs.department %></li>
    <li>email: <%= qs.tel %></li>
</ul>
this is contact page
</body>
</html>
